!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
    = stylesheet_link_tag "handbook"
    = stylesheet_link_tag "navigation-helpers"
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/release-posts.css"}
  %body{:data => {:spy => "scroll", :target => ".qnav"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"

    / blog template
    .blog.article.release-body
      - if is_blog_article?
        - image_title = current_article.data.image_title ? current_article.data.image_title : '/images/default-blog-image.png'
        .cover{ style: "background-image: url(/images/release-layout-gradient.png);" }
          - header_layout_dark = current_article.data.header_layout_dark
          %div{ class: "overlay#{header_layout_dark ? '-dark' : ''}"}
            %div{ class: "wrapper header #{header_layout_dark ? 'dark-header' : ''}"}
              - release_number_dark = current_article.data.release_number_dark
              - if current_article.data.release_number
                %div{ class: "release-number #{release_number_dark ? 'release-number-dark' : ''}"}
                  - if current_article.data.release_number_image
                    = image_tag "#{current_article.data.release_number_image}", class:"release-number-image", alt:"#{current_article.data.release_number}"
                  - else
                    = current_article.data.release_number
          - if current_article.data.image_title_mobile
            .cover-desktop{ style: "background-image: url(#{current_article.data.image_title});" }
            .cover-mobile{ style: "background-image: url(#{current_article.data.image_title_mobile});" }
        
      / body template
      .wrapper.body
        .release-content-column
          .content
            %div.release-header
              %div.release-post-section
                %div.release-meta-info
                  %span.date
                    = current_article.date.to_time.strftime '%b %e, %Y'
                  %span -
                  %span{ class: "author #{header_layout_dark ? 'dark-header' : ''}"}
                    - guest = current_article.data.guest
                    - anchor = current_article.data.author_gitlab
                    - if guest
                      = current_article.data.author
                    - else
                      - if anchor
                        = link_to current_article.data.author, "/company/team/##{anchor}"
                      - else
                        = current_article.data.author
                    - if current_article.data.author_gitlab
                      = link_to "https://gitlab.com/#{current_article.data.author_gitlab}" do
                        %span &nbsp;
                        %spam{ class: "author-gitlab #{header_layout_dark ? 'dark-header' : ''}"}
                          %i.fab.fa-gitlab
                %h1.slp-text-heading2-bold
                  = current_article.title 
                - if current_article.data.description
                  %p.description
                    = current_article.data.description
                - if current_article.data.cta_button_link && current_article.data.cta_button_text
                  = link_to(current_article.data.cta_button_text, "#{current_article.data.cta_button_link}", class: "btn btn-lg btn-red")
            - filename = File.basename(current_page.path, File.extname(current_page.path)).gsub("-", "_")
            / release post content
            %section.release-post-section
              #intro
                = yield

              = partial "includes/blog/twitter_helper"
            = partial("includes/release", :locals => { :datafile => data.release_posts[filename], :current_article => current_article })

            /last section
            %section#about-gitlab.gray-section.last-section
              %div.release-post-section
                %h3{:id => "changelog", class:'release-post-header'}
                  Changelog
                  %a.header-link{href: "#changelog"}
                    %i.fas.fa-link
                %p
                  Please check out the changelog to see all the named changes:
                  %ul
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-foss/blob/master/CHANGELOG.md", target: "_blank", title: "GitLab"} GitLab
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-runner/blob/main/CHANGELOG.md", target: "_blank", title: "GitLab Runner"} GitLab Runner
              %div.release-post-section
                .release-row.align-top
                  .column.release-column-w-border
                    %h3{:id => "installing"}
                      Installing
                      %a.header-link{href: "#installing"}
                        %i.fas.fa-link
                    %p
                      If you are setting up a new GitLab installation please see the
                      %a{:href => "/install/"} download GitLab page.
                  .column.release-column-w-border
                    %h3{:id => "updating"}
                      Updating
                      %a.header-link{href: "#updating"}
                        %i.fas.fa-link
                    %p
                      Check out our
                      %a{:href => "/update/"} update page.

            / cover image
            %section#cover-img.release-post-section
              - cover = current_article.data.cover_img || data.release_posts[filename].cover_img
              - unless cover.image_url.include? "about.gitlab.com" 
                %p.note.text-center
                  %a{href: "#{cover.image_url}", target: "_blank", rel: "noindex, nofollow"} Cover image
                  licensed under
                  = link_to(cover.licence, "#{cover.licence_url}")

          / default template
          .social.social--side-bar
            Share
            = partial "includes/blog/share"
        = partial "includes/blog/pager"
      %div.purple-section
        .wrapper.signup
          = partial "includes/newsletter-signup.html"
      %div.release-bottom
        .release-row.align-top.release-section--0-bottom.release-content-column
          .column.column-bordered
            = partial "includes/blog/try"
          .column
            %h3{:id => "questions"}
              %a.header-link{href: "#questions"}
                %i.fas.fa-link
              Questions?
            %p
              We'd love to hear your thoughts! Visit the GitLab Forum
              %a{:href => "https://forum.gitlab.com/", target: "_blank", title: "GitLab Forum"} GitLab Forum
              and let us know if you have questions about the release.  
      %div
        - if ci_environment?
          .wrapper.comments
            = partial "includes/blog/comments"
        = partial "includes/layout/footer"

    / tooltip
    %script{:async => "", :src => "/javascripts/bootstrap-tooltip.js", :type => "text/javascript"}
